
/* Add or change the styles for all tasks in this css file */

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

.geo-path {
  stroke: #ddd;
  stroke-width: 0.1px;
}

.geo-path:hover {
	fill: #5fc7c5;
}

.map-background {
	fill: #385c5f;
}

div.tooltip {	
  position: absolute;			
  text-align: left;			
  width: 180px;					
  height: 120px;					
  padding: 4px;				
  font: 1rem sans-serif;		
  background: lightgray;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}