
/* Add or change the styles for all tasks in this css file */

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

body {
  margin: 60px;
}

.geo-path {
  stroke: #ddd;
  stroke-width: 0.1px;
}

.geo-path:hover {
	fill: #5fc7c5;
}

.map-background {
	fill: #385c5f;
}

div.tooltip {	
  position: absolute;			
  text-align: left;			
  width: 240px;					
  height: 180px;					
  padding: 4px;				
  font: 1rem sans-serif;		
  background: #d3d3d3e6;
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

#tooltip-barchart .tick line {
  stroke: none;
}

#tooltip-barchart text {
  fill: black;
  font-size: 0.8rem;
}

/*For during development*/
.my-container {
    border:  4px solid green;
}

.my-row {
    border:  3px solid red;
}

.my-col {
    border:  3px dotted blue;
}
